.navbar {
  // background-color: #b39b64;
  background-color: #0c4434;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.sign-up {
  background-color: #b39b64;
}

.sign-up:hover {
  background-color: #b39b64;
}

.user {
  margin-right: 25px;
  font-weight: 500;
  color: #b39b64;
}
