:host {
  display: block;
  // margin-top: 3rem;
  background-color: #d3d3d3;
}

.container {
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .field.has-addons {
    margin-bottom: 2rem;
  }

  .control .button {
    background-color: #b39b64;
    outline: none;
  }

  .control .button:hover {
    background-color: #988251;
  }

  .columns {
    flex-direction: column;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-content {
    padding: 1rem;
  }

  .media {
    margin-bottom: 2px;
  }

  .media-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .title {
    margin-bottom: 0.5rem;
  }

  .description {
    margin-bottom: 1rem;
  }
}
