<section>
  <div class="container">
    <progress
      class="progress is-small is-primary"
      max="100"
      *ngIf="isLoading"
    ></progress>
    <div class="columns" *ngIf="!isLoading">
      <div class="column" *ngFor="let post of posts">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ post.title }}</p>
              </div>
            </div>
            <div class="post-image" *ngIf="post.imagePath">
              <img [src]="post.imagePath" [alt]="post.title" />
            </div>
            <div class="content">
              <textarea
                class="textarea content"
                rows="2"
                readonly
                [value]="post.content"
              ></textarea>
            </div>
          </div>
          <footer
            class="card-footer"
            *ngIf="isSignedIn && post.creator === this.userEmail"
          >
            <a class="card-footer-item" [routerLink]="['/edit', post.id]"
              >Edit</a
            >
            <a class="card-footer-item" (click)="onDelete($event, post.id)"
              >Delete</a
            >
          </footer>
        </div>
      </div>
      <p *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
    </div>
  </div>
</section>
