:host {
  display: block;
  background-color: #d3d3d3;
}

section.section {
  min-height: 100vh;
}

.card {
  padding: 50px;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
